[submodule "sddm/sddm-sugar-candy"]
	path = sddm/sddm-sugar-candy
	url = https://framagit.org/MarianArlt/sddm-sugar-candy.git
[submodule "conky/lean-conky-config"]
	path = conky/lean-conky-config
	url = git@github.com:jxai/lean-conky-config.git
[submodule "grub2-themes"]
	path = grub2-themes
	url = git@github.com:vinceliuice/grub2-themes.git
[submodule "rime/linux/fcitx5-nord"]
	path = rime/linux/fcitx5-nord
	url = git@github.com:tonyfettes/fcitx5-nord.git
